.purple {
  /*backdrop-filter: blur(10px);*/
  color: white;
}
.back {
  margin-top: 10px;

  padding: 5px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.7);
  /*backdrop-filter: blur(100px);*/

}
form {
  margin-top: 10px;
  backdrop-filter: blur(25px);
  padding: 5px;
  border-radius: 10px
}
